<div>
  <h5>Playlist {{ this.name }}</h5>
  <hr />
  <h6>Músicas</h6>

  <div class="row">
    <div class="col s12 m6 offset-m3">
      <table>
        <thead>
          <tr>
            <th data-field="td-value">Nome</th>
            <th data-field="td-value">Gênero</th>
            <th data-field="td-value">Ano Lanç.</th>
            <th data-field="td-value">CD</th>
            <th data-field="td-value">Link</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let m of this.value.musics">
            <td>{{ m.name }}</td>
            <td>{{ m.gender }}</td>
            <td>{{ m.releaseYear }}</td>
            <td>{{ m.cdName }}</td>
            <td>{{ m.link }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
