<app-modal [show]="modal.show" [content]="modal" (closeEvent)="onCloseModal()">
</app-modal>

<div
  class="intro blue z-depth-1 my-logo-text"
  [ngStyle]="this.getBackgroundImage()"
  style="padding: 10px"
>
  <h2 class="grey-text text-lighten-5">GESTÃO DE MÚSICAS E BANDAS</h2>

  <div class="container">
    <app-playlist-panel
      *ngIf="this.playlists"
      #playlist
      [value]="this.playlists"
      (playlistWarnEvent)="this.onPlaylistWarnEvent($event)"
    ></app-playlist-panel>

    <div class="row" style="margin-top: 50px">
      <div class="col s12 m6 offset-m3">
        <button
          class="btn waves-effect waves-light green darken-4"
          [routerLink]="['/playlist']"
        >
          Nova Playlist
          <i class="material-icons add">add</i>
        </button>
      </div>
    </div>
  </div>
</div>
